@import url(https://fonts.googleapis.com/css?family=Poiret+One);

body {
  padding-top: 100px;
  background: #f8f8f8 url(../img/clean-container.jpg) repeat top left; 
}

.section-title { 
  font-size: 1.5em;
  color: #888;
}
.section-title:not(:first-child) { margin-top: 30px; }

.title-border {
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.brand span {
    font-family: 'Poiret One', cursive;
    font-size: 36px;
    font-weight: 600;
    vertical-align: top;
}
.brand img {
    width: 32px;
    vertical-align: text-bottom;
}
.brand svg {
  width: 32px;
  height: 32px;
  position: relative;
  top: -2px;
}
.navbar-inverse { background-color: #f5f5f5; }
.navbar-inverse .navbar-brand {
    color: #F44336;
}

.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus {
    color: #e87e76;
}

